---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Gør en forskel" />
<section class="full_height" id="gør_en_forskel"></section>
<MainLayout />
