---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Hjælp verden" />
<section class="full_height" id="hjælp_verden"></section>
<MainLayout />
