---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Hvem er vi?" />
<section class="section1 full_height blue_bg grid_1-1" id="hvem_er_vi1">
  <img class="tråd2" src="/public/imgs/tråd2.svg" alt="Rød tråd" />
  <img src="/imgs/dame.webp" alt="" />
  <div class="beige_text">
    <h1>Vi er i tråd med verden</h1>
    <p>
      I Tråd Med Verden (ITMV) er en socialøkonomisk virksomhed drevet af
      foreningen I Tråd Med Verden. I partnerskab med KAB driver vi sy- og
      design værksteder i udsatte boligområder, hvor vi arbejder med design og
      genanvendelse af kasserede tekstiler som omdrejningspunkt for at skabe
      jobmuligheder, netværk og livskvalitet for mennesker, som har mistet
      fodfæste på arbejdsmarkedet.
    </p>
  </div>
</section>
<section class="section2 full_height" id="hvem_er_vi2">
  <img class="tråd3" src="/public/imgs/tråd3.svg" alt="Rød tråd" />
  <img class="logo" src="/imgs/logo.svg" alt="Logo af I tråd med verden" />
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/HexL-TPhk-Y?si=1uIAi4zSNLoxq5j_"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>

  <!--  <video src="/videos/test.mp4" autoplay muted loop>
    Your browser does not support the video tag.</video
  > -->
</section>
<MainLayout />

<style>
  .section2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .tråd2 {
    position: absolute;
    right: 2%;
    top: 20%;
    z-index: 0;
  }
  .tråd3 {
    position: absolute;
    right: 47%;
    z-index: 1;
    top: 0;
  }
  .beige_text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;
  }
  video {
    width: 100%;
    object-fit: cover;
    align-self: stretch;
    height: 100vh;
  }
  .logo {
    position: absolute;
    width: 43%;
    z-index: 2;
  }

  /* Desktop version */

  @media screen and (min-width: 800px) {
    .section1 {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
    }
    .tråd2 {
      right: 10%;
      top: 0;
      height: 100vh;
    }
    .tråd3 {
      right: 19%;
      height: 100vh;
    }
    .beige_text {
      padding: 0 160px 0 0;
    }
    img {
      height: 100vh;
    }
    video {
      height: auto;
    }
    .logo {
      width: 13%;
    }
  }
</style>
