---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Hvem er vi?" />
<section class="full_height blue_bg grid_1-1" id="hvem_er_vi1">
  <img src="/imgs/dame.webp" alt="" />
  <div class="beige_text">
    <h1>Vi er i tråd med verden</h1>
    <p>
      I Tråd Med Verden (ITMV) er en socialøkonomisk virksomhed drevet af
      foreningen I Tråd Med Verden. I partnerskab med KAB driver vi sy- og
      design værksteder i udsatte boligområder, hvor vi arbejder med design og
      genanvendelse af kasserede tekstiler som omdrejningspunkt for at skabe
      jobmuligheder, netværk og livskvalitet for mennesker, som har mistet
      fodfæste på arbejdsmarkedet.
    </p>
  </div>
</section>
<section class="full_height" id="hvem_er_vi2">
  <div class="video_container">
    <div>
      <iframe
        src="https://www.youtube.com/embed/HexL-TPhk-Y?si=2C5LoCjlsbZEaD-M"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
  </div>
</section>
<MainLayout />

<style>
  #hvem_er_vi2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--beigeColor);
  }
  #hvem_er_vi1 .beige_text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;
  }
  #hvem_er_vi2 .video_container {
    width: 100vw;
    height: 100vh;
  }

  #hvem_er_vi2 iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
  }

  /* Desktop version */

  @media screen and (min-width: 800px) {
    #hvem_er_vi1 {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
    }
    #hvem_er_vi1 .beige_text {
      padding: 0 160px 0 0;
    }
    #hvem_er_vi1 img {
      height: 100vh;
    }
    #hvem_er_vi2 .video_container {
      width: 100vw;
      height: 100vh;
    }

    #hvem_er_vi2 iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100vw;
      height: 100vh;
      transform: translate(-50%, -50%);
    }
  }
</style>
