---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Velkommen" />
<section class="full_height beige_bg grid_1-1" id="velkommen">
  <img class="tråd" src="/public/imgs/tråd1.svg" alt="Rød tråd" />
  <div class="text_side">
    <img class="logo" src="/imgs/logo.svg" alt="Logo af I tråd med verden" />
    <div class="blue_text">
      <h1>FRA KRIG TIL <br /> SYERSKE I DANMARK</h1>
      <p>
        Se her hvordan vores produkter bliver fremstillet, og hvem menneskerne
        er bag dit nye gardin.
      </p>
    </div>
  </div>
  <span class="cirkel"></span>
  <video src="/videos/test.mp4" autoplay muted loop>
    Your browser does not support the video tag.</video
  >
</section>
<MainLayout />

<style>
  section {
    position: relative;
  }
  .tråd {
    position: absolute;
    top: 80px;
    z-index: 1;
  }
  .cirkel {
    position: absolute;
    top: 40%;
    left: -30%;
    z-index: 1;
    height: 340px;
    width: 340px;
    border-radius: 50%;
    background-image: linear-gradient(
      to right,
      #396eb2,
      #a6bdd2,
      #abd1ed,
      #8da0e4,
      #ffffff
    );
    opacity: 50%;
  }
  .text_side {
    padding: 20px 0 0 0;
    position: relative;
  }
  .blue_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;
    color: var(--beigeColor);
    margin-top: 100%;
    padding: 0 10px;
  }
  video {
    width: 100%;
    object-fit: cover;
    align-self: stretch;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 0;
  }
  .logo {
    display: none;
  }

  /* Desktop version */

  @media screen and (min-width: 800px) {
    .cirkel {
      left: 32%;
      top: 30%;
    }
    .text_side {
      padding: 20px 0 0 20px;
      position: relative;
    }
    .tråd {
      left: 10%;
      top: 10%;
      height: 90vh;
      z-index: 2;
    }
    .blue_text {
      padding: 150px 0 0 30px;
      color: var(--blueColor);
      margin: 0;
    }
    video {
      height: auto;
      position: unset;
    }
    .logo {
      display: block;
      position: unset;
      padding: 0;
      width: auto;
      z-index: 1;
    }
  }
</style>
