---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Hvem er vi?" />
<section class="full_height beige_bg grid_1-1" id="tag_ansvar">
  <img src="/imgs/ansvar.webp" alt="" />
  <div class="blue_text">
    <h1>Vi tager ansvar</h1>
    <div class="text">
      <p>
        Siden 2018 har vi været registreret som en socialøkonomisk virksomhed,
        der beskæftiger udsatte kvinder i Danmark. Vi bidrager til et rummeligt
        arbejdsmarked ved at ansætte kvinder i ordinær beskæftigelse med fokus
        på kvindernes kompetencer og ressourcer, som skal sættes i spil på det
        danske arbejdsmarked.
      </p>
      <p>
        Vi tror på, at mennesker bliver gladere og stærkere af at arbejde med
        noget de brænder for. Desuden ønsker vi at bidrage til den grønne
        omstilling ved at skabe en cirkulær produktion, hvor kasserede tekstiler
        kan få nyt liv i stedet for at ende på forbrændingen.
      </p>
    </div>
  </div>
</section>

<MainLayout />

<style>
  #tag_ansvar .blue_text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;
  }
  #tag_ansvar .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #tag_ansvar video {
    width: 100%;
    object-fit: cover;
    align-self: stretch;
    height: 100vh;
  }

  /* Desktop version */

  @media screen and (min-width: 800px) {
    #tag_ansvar {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
    }
    #tag_ansvar .beige_text {
      padding: 0 160px 0 0;
    }
    #tag_ansvar img {
      height: 100vh;
    }
  }
</style>
