---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Vidste du?" />
<section class="full_height blue_bg grid_1-1" id="vidste_du">
  <img class="pude" src="/imgs/pude.webp" alt="Hænder der holder en pude" />
  <div class="beige_text">
    <span class="cirkel"></span>
    <div class="text">
      <p>
        Når du køber vores produkter, støtter du kvinder, som står uden for det
        danske arbejdsmarked. <br />

        <br />Du får designprodukter, der er med til at fremme dansk produktion,
        da alle vores produkter laves lokalt i vores værksteder på Nørrebro og
        Farum.<br />

        <br />Samtidig er du med til at tage ansvar, fordi kasserede tekstiler
        får nyt liv.
      </p>
    </div>
  </div>
</section>
<MainLayout />

<style>
  #vidste_du {
    height: 100vh;
  }
  #vidste_du .beige_text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #vidste_du .cirkel {
    display: none;
  }
  #vidste_du .text {
    position: absolute;
    padding: 20px;
    top: 50px;
  }
  #vidste_du .pude {
    position: relative;
    top: 50px;
  }

  /* Desktop version */

  @media screen and (min-width: 800px) {
    #vidste_du .beige_text {
      padding: 0 160px 0 0;
    }
    #vidste_du .cirkel {
      display: block;
      position: absolute;
      top: 25%;
      z-index: 1;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      background-image: linear-gradient(
        to right,
        #d08a77,
        #febbc9,
        #d48291,
        #d5cdcc
      );
    }
    #vidste_du .text {
      position: relative;
    }
    #vidste_du img {
      height: 100vh;
    }
    #vidste_du .pude {
      height: 80vh;
      margin-top: 70px;
    }
  }
</style>
