---
import "../styles/style.css";
---

<section class="grid_1-1-1">
  <article class="links">
    <div class="flex_links">
      <a href="https://www.itmv.dk/pages/om-itmv" target="_blank">Om os</a>
      <a href="https://www.itmv.dk/collections/all" target="_blank">Shop</a>
      <a href="https://www.itmv.dk/pages/book-os" target="_blank">Book os</a>
      <a href="https://www.itmv.dk/pages/samarbejde" target="_blank"
        >Samarbejde</a
      >
      <a href="https://www.itmv.dk/pages/contact" target="_blank">Kontakt</a>
      <a href="https://www.itmv.dk/pages/presse" target="_blank">Presse</a>
      <a href="https://www.itmv.dk/policies/refund-policy" target="_blank"
        >Handelsbetingelser</a
      >
      <a href="https://www.itmv.dk/pages/sikker-betaling" target="_blank"
        >Betaling</a
      >
      <a href="https://www.itmv.dk/policies/privacy-policy" target="_blank"
        >Privatlivspolitik</a
      >
    </div>
    <img src="/imgs/logo.svg" alt="" />
  </article>
  <article class="info">
    <p>Her finder du os:</p>
    <div class="flex_info">
      <strong><p>Værkstedet i Lundtoftegade</p></strong>
      <p>Lundtoftegade 23, 1 sal 2200 København N</p>
    </div>
    <div class="flex_info">
      <strong><p>Værkstedet i Farum Midtpunkt</p></strong>
      <p>Nygårdterasserne 213A 3520 Farum</p>
    </div>
    <div class="flex_info">
      <p><strong>Mail:</strong> itmv@itmv.dk</p>
      <p><strong>Telefon:</strong> 60877307</p>
      <p><strong>CVR:</strong> 34449686</p>
    </div>
  </article>
  <article class="tilmeld">
    <p>TILMELD NYHEDSBREV</p>
    <form name="kontakt" method="post" netlify>
      <label for="E-mail">
        <input type="email" />
      </label>
      <button>Tilmeld</button>
    </form>
    <div class="scroll_btn">
      <a href="">Scroll up</a>
      <a class="arrow up" href="#velkommen"></a>
    </div>
  </article>
</section>

<style>
  section {
    display: none;
  }
  .links,
  .info {
    background-color: var(--beigeColor);
  }
  .tilmeld {
    padding: 60px;
    background-color: var(--blueColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .flex_links {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: fit-content;
    padding: 30px 0 0 40px;
  }
  .links img {
    width: 15%;
    position: absolute;
    bottom: -120px;
    right: 30px;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0 50px 40px;
  }
  .info p {
    font-size: 16px;
    color: var(--blueColor);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .tilmeld,
  p,
  label,
  button {
    color: var(--beigeColor);
  }

  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--beigeColor);
    margin-top: 20px;
    color: var(--beigeColor);
    width: 100%;
  }
  input:focus {
    outline: none;
    caret-color: var(--beigeColor);
    color: var(--beigeColor);
  }
  button {
    width: fit-content;
    padding: 5px 30px;
    background-color: transparent;
    border: 1px solid var(--beigeColor);
  }
  button:hover {
    color: var(--blueColor);
    background-color: var(--beigeColor);
    cursor: pointer;
  }

  /* Scroll up btn */
  .scroll_btn {
    position: absolute;
    z-index: 100;
    bottom: 30px;
    right: 20px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }
  .scroll_btn a {
    color: var(--beigeColor);
    cursor: default;
  }
  .arrow {
    border: solid var(--beigeColor);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 9px;
  }
  .up {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  /* Desktop version */
  @media screen and (min-width: 800px) {
    section {
      height: 550px;
      position: absolute;
      width: 100%;
      display: unset;
    }
    .grid_1-1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .flex_links {
      padding: 60px 0 0 70px;
    }
    .info {
      padding: 60px 0 0 0;
    }
    .links img {
      width: 6%;
      bottom: 30px;
      left: 30px;
    }
    .scroll_btn {
      display: none;
    }
  }
</style>
