---
import "../styles/style.css";
---

<nav class="nav">
  <span class="line"></span>
  <div class="nav-item">
    <a class="nav-link" href="/"></a>
    <span class="nav-label">Velkommen</span>
  </div>
  <div class="nav-item">
    <a class="nav-link" href="/hvem_er_vi"></a>
    <span class="nav-label">Hvem er vi?</span>
  </div>
  <div class="nav-item">
    <a class="nav-link" href="#hvem_er_vi2"></a>
    <span class="nav-label">Hvem er vi?</span>
  </div>
  <div class="nav-item">
    <a class="nav-link" href="/fakta2"></a>
    <span class="nav-label">Fakta</span>
  </div>
  <div class="nav-item">
    <a class="nav-link" href="/produkter"></a>
    <span class="nav-label">Produkter</span>
  </div>
  <div class="nav-item">
    <a class="nav-link" href="/tag_ansvar"></a>
    <span class="nav-label">Tag ansvar</span>
  </div>
  <div class="nav-item">
    <a class="nav-link" href="/gør_en_forskel"></a>
    <span class="nav-label">Gør en forskel</span>
  </div>
  <div class="nav-item">
    <a class="nav-link" href="/vidste_du"></a>
    <span class="nav-label">Vidste du?</span>
  </div>
  <div class="nav-item">
    <a class="nav-link" href="/hjælp_verden"></a>
    <span class="nav-label">Hjælp verden</span>
  </div>
  <div class="scroll_btn bouncing">
    <a href="">Scroll ned</a>
    <a class="arrow down" href=""></a>
  </div>
</nav>

<style>
  .nav {
    position: fixed;
    right: 40px;
    top: 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 5;
  }
  .line {
    border-left: 2px solid var(--navColor);
    height: 540px;
    position: absolute;
    z-index: -1;
    top: 10px;
    right: 9px;
  }
  .nav-item {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row-reverse;
  }
  .nav-label {
    text-transform: uppercase;
    border: 1px solid var(--beigeColor);
    padding: 5px 10px;
    font-family: Helvetica, Arial, sans-serif;
    color: var(--beigeColor);
    background-color: var(--blueColor);
    opacity: 0;
    transition: opacity 0.1s;
    /* order: 1; */
  }
  .nav-link:hover ~ .nav-label {
    opacity: 1;
  }
  .nav-link {
    height: 20px;
    width: 20px;
    background-color: var(--navColor);
    border-radius: 50%;
  }
  .nav-link:hover {
    background-color: var(--redColor);
  }
  .nav-link.active {
    background-color: var(--redColor);
  }
  .scroll_btn {
    bottom: 50px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .scroll_btn a {
    color: black;
    cursor: default;
  }
  .arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 10px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .bouncing {
    animation-name: bouncing_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes bouncing_kf {
    0% {
      translate: 0% 5%;
    }

    50% {
      translate: 0% -5%;
    }

    100% {
      translate: 0% 5%;
    }
  }

  /* Mobil version */

  @media screen and (max-width: 600px) {
    .nav {
      display: none;
    }
  }
</style>

<!-- <script>
  const navLinks = document.querySelectorAll(".nav-link");

  navLinks.forEach((link) => {
    link.classList.remove("active");

    // Brug `slice` for at fjerne `/` i pathname
    const currentPath = window.location.pathname.slice("1");

    // `link.href` returnerer en hel url, men vi har kun brug for en sidste del i urlen, der indikerer hvilken side vi er på
    const hrefArray = link.href.split("/");
    const thisPath = hrefArray[hrefArray.length - 1];

    if (currentPath === thisPath) {
      link.classList.add("active");
    }
  });
</script> -->
